
<style>
    button:not(:disabled), [type="button"]:not(:disabled){
        background-color: #fbb710;
        border-color: #fbb710;
    }
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

<div class="products-catagories-area clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-12 mt-2">
                <div class="container-fluid">
                    <div class="row">
                        <p class="text-center h3 fw-bold mb-3"><u>ORDER MANAGEMENT</u></p>
                    </div>
                </div>
                <div style="overflow-x: scroll;">
                    <table class="table" id="example">
                        <thead class="bg-warning">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">OrderID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Status</th>
                                <th scope="col">Contact</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            {{#each salesReport}}
                            <tr>
                                <th scope="row" class="fs-bold">{{inc @index}}</th>
                                <td>{{this._id}}</td>
                                <td>{{this.date}}</td>
                                <td>{{this.deliveryDetails.name}} </td>
                                <td>{{this.totalAmount}}</td>
                                <td>{{this.paymentMethod}}</td>
                                <td>{{this.status}}</td>
                                <td>{{this.deliveryDetails.phone}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "searching": true,
            "paging": false,
            'ordering': false,
            'info': false
        });
    });
</script>